a:any-link {
    text-decoration: none;
    color: rgb(100,100,100);
}
.site_text {
    font-size: 100%;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    color: rgb(100,100,100);
}
/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    top: 0px;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 1px solid rgb(190,190,190);
    position: sticky;
    transition-duration: 500ms;
  }
/* .navbar.hover {
    transform: translateY(0);
    transition-duration: 500ms;
} */
.navbar.fixed-top {
    transform: translateY(-100%); /* normal, hidden state */
    transition-duration: 500ms;
}
.navbar_links {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-size: 175%;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    color: rgb(100,100,100);
}
li {
    display: inline;
    margin-right: 20px;
}
.navbar_left {
    float: left;
    padding: 20px;
}
.navbar_right {
    float: right;
    padding: 20px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(100,100,100);
    transform-origin: bottom left;
    transition: all 0.4s ease-in-out 0s;
    width: 80%;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/
.main {
    font-family: Monospace, Arial, Helvetica, sans-serif;
    text-align: center;
}
.typewriter_effect{
    display: inline-block;
}
.typed_out{
    overflow: hidden;
    border-right: .10em solid white;
    color: white;
    white-space: nowrap;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    animation: 
        typing 1.5s steps(20, end) forwards,
        blink 1s infinite;
    font-size: 400%;
    text-align:right;
    vertical-align:bottom;
    position:absolute;
    bottom:20px;
    right: 40px
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}
.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.paralax-mf {
    position: relative;
    padding: 12rem 0;
    margin-bottom:100px;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.sect_title {
    text-align: center;
    font-size: 200%;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    color: rgb(100,100,100);
}
/*------/ Box /------*/
.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom:100px;
    height: 330px;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.about_side {
    width: 50%;
    float: left;
}
.profile_pic {
    width: 325px;
    height: 330px;
    margin: auto;
    display: block;
    border: .5px solid rgb(150, 150, 150);
}

/*--------------------------------------------------------------
# Experience Section
--------------------------------------------------------------*/
.exp_items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.proj_title {
    padding-top: 25px;
}
.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: fit-content;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}
.card_title {
    margin-top: 30px;
}
.card_body {
    padding: 20px;    
}
.scroll_text {
    z-index: 1000;
    color:white;
    font-size: 200%;
    background-color: rgb(170, 170, 170);
    width: 50%;
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/
.table {
    width: 95%;
    margin-bottom: 100px;
    color: rgb(190, 190, 190);
    padding-left: 10%;
}
.proj_table {
    display: block;
    width: 100%;
    overflow-x: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tb-inner-box {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: 15px;
}
.th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.td {
    padding: 30px 20px;
    vertical-align: middle;
}
.proj-date {
    color: #252525;
    text-align: center;
}
.span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
}

/* button template */
.btn {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(150, 150, 150);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.btn:hover,
.btn:focus {
  background-color: rgb(190, 190, 190);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}
.btn:active {
  background-color: rgb(120, 120, 120);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.hr_table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Resources Section
--------------------------------------------------------------*/
.external_links {
    text-align: center;
}